# Dependency scanning only has Python 3.6 available.

# Python 3.7
#   Pillow==9.0.0
#   numpy==1.22.0

# Python 3.6
pipenv==2022.1.8
wheel 
ansible
setuptools_rust 
Rust 
ansible-lint
yamllint
lxml
ansible-lint-junit
ansible-lint-to-junit-xml
